<!DOCTYPE html>
<html>
  <body style="font-family: 'Segoe UI', sans-serif; background-color: #f9fafb; padding: 40px;">
    <div style="max-width: 600px; margin: auto; background-color: #ffffff; padding: 30px; border-radius: 12px; box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05); text-align: center;">
      <img src="https://i.imgur.com/taCG40B.png" alt="Alianza UTP Logo" width="150" style="margin-bottom: 20px;">
      {% block content %}
      <!-- Aquí va el contenido de cada correo -->
      {% endblock %}

      <hr style="margin: 40px 0; border: none; border-top: 1px solid #e5e7eb;" />
      <p style="font-size: 12px; color: #9ca3af; text-align: center;">
        Gracias por confiar en nosotros. Si tienes alguna duda, contáctanos.
      </p>
    </div>
  </body>
</html>
